.clear{clear:both;}
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
.my-highlight
{
	background:#555;
	color:#fff;
}
.controls{margin-bottom:15px;}
.my-error{border:1px solid red;}
.item-title{padding-right:10px;}
.appointment-item{border:1px solid #aaa;padding:5px;margin:10px;-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;-webkit-box-shadow: 0 0 1px #000;'}
.appointment-item:hover{background:#4682B4;color:#fff;corsor:pointer;}
.primary-tile{font-weight:bold;padding-bottom:3px;margin-bottom:3px;border-bottom:1px solid #888;}